/*-- scss:defaults --*/

// Dark theme colors
$spc-primary: #ede8de;
$spc-primary-light: #ede8de;
$spc-secondary: #ede8de;
$spc-secondary-light: #ede8de;
$spc-accent: #ede8de;
$spc-accent-light: #ede8de;
$spc-accent-dark: #ede8de;
$spc-bg-0: #141414;
$spc-bg-1: #141414;

/*-- scss:rules --*/
