/*-- scss:defaults --*/

// Light theme colors
$spc-primary: #2c3e50;
$spc-primary-light: #34495e;
$spc-secondary: #7f8c8d;
$spc-secondary-light: #95a5a6;
$spc-accent: #3498db;
$spc-accent-light: #5dade2;
$spc-accent-dark: #2980b9;
$spc-bg-0: #ede8de;
$spc-bg-1: #ede8de;

/*-- scss:rules --*/ 